.label_sku
{ 
	padding-left:15px;
}

.tgi-row {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: initial !important;
}
.tgi-club-buttons {
    width: 100% !important;	
}
.tgi-enter-payment-info-panel {
    font-size: initial !important;
    text-align: center;
}
.tgi-frequency-info .item-box {
    width: 23%;
    clear: none !important;
}
.tgi-club-items-grid .item-box {
    width: 23% !important;
    clear: none !important;
}
.tgi-club-items-grid .qty-input {
    line-height: 24px !important;
	height: 30px !important;
}